html body {
  font-family: 'Mansalva', cursive;
  font-size: 22px;
  border: 10px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}
h1 {
  text-align: center;
}
#orderForm {
  background-color: #eeeeee;
  border: 4px solid yellow;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
  box-shadow: 10px 10px 5px #888888;
}